.button {
  font-size: 24px;
  background-color: #f2f2f2;
  padding: 10px 20px;
  font-weight: bold;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 15px;
}

h1 {
  font-size: 64px;
  margin-top: 0;
  margin-bottom: 15px;
}

.top-title {
  font-size: 24px;
}

.show {
  font-size: 30px;
  margin: 1.5em;
}

.form {
  display: flex;
}

.form input {
  display: inline-block;
  width: auto;
}

.form-input {
  font-size: 24px;
  margin-bottom: 1.5em;
  display: block;
  font-weight: bold;
}

.form-input input,textarea {
  font-size: 16px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0.5em;
  margin-top: 0.5em;
}